body {
  font-family: "Inconsolata", sans-serif;
}
.main {
  width: 50%;
  min-width: 700px;
  margin: auto;
}
.header {
  margin: 2em 0;
  padding: 5px 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.25);
}
.header h1 {
  font-size: 3em;
}
.avatar {
  float: left;
  width: 150px;
  height: 150px;
  display: inline-block;
}
.info {
  display: inline-block;
  width: calc(100% - 160px);
  float: right;
}
.data-row {
  width: 100%;
  position: relative;
  margin-bottom: 1em;
}
.key {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: calc(50% - 4px);
}
.value {
  margin-left: calc(50% - 4px);
  display: inline-block;
  width: calc(50% - 4px);
}
.tabs-group {
  font-family: Arial;
}
